<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <!-- <script src="./jquery.js"></script> -->
</head>

<body>
  <div id="app">
    <div class="username">
      <input type="text" placeholder="username" v-model="name">
    </div>
    <div class="mail">
      <input type="text" placeholder="mail" v-model="mail">
    </div>
    <div class="upload-btn" @click="handleUpload">上传</div>
    <div class="show-btn" @click="handleShow">显示人物信息</div>
    <div class="show-btn" @click="handleTest">jsonp</div>
    <ul class="person-list">
      <li class="person" v-for="person in showList">{{person.name}}--{{person.mail}}</li>
    </ul>
  </div>

  <script>

    const vm = new Vue({
      el: '#app',
      data: {
        name: '',
        mail: '',
        msg: '',
        showList: []
      },
      computed: {

      },
      watch: {
        msg() {
          if (this.msg === '') {
            return
          }
          alert(this.msg);
          this.msg = '';
        }
      },
      methods: {
        handleUpload() {
          console.log(this.name, this.mail);
          // url, data, options
          this.$http.post('https://developer.duyiedu.com/vue/setUserInfo', {
            name: this.name,
            mail: this.mail
          })
            .then(res => {
              // console.log(res.body);
              this.msg = res.body.msg;
            })
            .catch(error => {
              // console.log(error);
              this.msg = error.body.msg;
            })
        },
        handleShow() {
          // url options
          this.$http.get(
            'https://developer.duyiedu.com/vue/getUserInfo',
            {
              params: {

              }
            }
          )
            .then(res => {
              console.log(res.body);
              this.showList = res.body.data;
            })
            .catch(error => {
              console.log(error);
              this.showList = [];
            })
        },
        handleTest() {
          this.$http.jsonp(
            'https://developer.duyiedu.com/vue/jsonp',
            {
              jsonp: 'callback',
              params: {
              }
            }
          )
            .then(res => {
              console.log(res.body);
              this.showList = res.body.data;
            })
            .catch(error => {
              console.log(error);
              this.showList = [];
            })
        }
      }
    })
    window.vm = vm;

  </script>
</body>

</html>