@font-face {
  font-family: 'iconfont';  /* project id 1737082 */
  src: url('//at.alicdn.com/t/font_1737082_eeuk877l8rp.eot');
  src: url('//at.alicdn.com/t/font_1737082_eeuk877l8rp.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1737082_eeuk877l8rp.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1737082_eeuk877l8rp.woff') format('woff'),
  url('//at.alicdn.com/t/font_1737082_eeuk877l8rp.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1737082_eeuk877l8rp.svg#iconfont') format('svg');
}

.iconfont{
  font-family: 'iconfont';
  font-style: normal;
}
.icon-right::after{
  content: '\e643';
}
.icon-down::after{
  content: '\e644';
}